@import url('https://fonts.googleapis.com/css?family=Roboto|Viaoda+Libre&display=swap');
h4, p {
    font-family: 'Viaoda Libre', cursive;
}

Header {
    background-color: burlywood;
}

header {
    background-color: khaki;
}

footer {
    background-color: aqua;
}

.carousel-slide {
    color: black;
}